// _variables.scss

// === GLOBAL VARIABLES ===
$border-radius: 10px;
$bar-height: 20px;
$lighter-background: rgba(255, 255, 255, 0.05);
$font-main: 'Asul', sans-serif;
$font-elegant: 'Bellefair', serif;


// === AZEROTH THEME VARIABLES ===
$azeroth-color-gold: #bfa256;
$azeroth-background: radial-gradient(circle at top, lighten(#120e08, 5%), #0a0a0a 100%);
$azeroth-text-color: #a0a0a0;
$azeroth-lighter-bg: rgba(255, 255, 255, 0.05);
$azeroth-color-alliance: #2c8bff;
$azeroth-color-horde: #df2c2c;


// === LEGACY THEME VARIABLES ===
$legacy-text-color: #fff;
$color-alliance: #1a67f4;
$color-horde: #cd0a0e;

// === LINES BACKGROUND ===
$base-row: #151515ab;
$even-row: #222222ab;
