<div class="container text-center">
  <p class="h2">{{ SERVER_NAME }} Server Status</p>
  <br>

  <div *ngIf="(service.players$ | async) as players">
    <p class="h6 text-muted" *ngIf="(service.pulse$ | async) as pulse"><strong>{{ pulse[0].accounts }}</strong> active accounts from <strong>{{ pulse[0].IPs }}</strong> different IPs in last <strong>{{ PULSE }}</strong> days</p>
    <p class="lead h4">There are {{ players.length }} players online</p>
    <p class="h4">
      <img src="assets/alliance_medium.png">
      {{ service.allianceCount }} - {{ service.hordeCount }}
      <img src="assets/horde_medium.png">
    </p>
    <br>
    <div class="table-responsive">
      <table class="table table-striped table-bordered">
        <thead>
          <th class="text-center">Character</th>
          <th class="text-center">Class</th>
          <th class="text-center">Race</th>
          <th class="text-center">Faction</th>
          <th class="text-center">Level</th>
          <th class="text-center">Guild</th>
          <th class="text-center">Map</th>
        </thead>
        <tbody>
          <tr *ngFor="let player of players" [ngClass]="player.faction">
            <td><strong>{{ player.name }}</strong></td>
            <td><img [src]="'assets/class/' + player.class + '.gif'"></td>
            <td><img [src]="'assets/race/' + player.race + '-' + player.gender + '.gif'"></td>
            <td><img [src]="'assets/' + player.faction + '_min.png'"></td>
            <td><strong>{{ player.level }}</strong></td>
            <td><strong>{{ player.guildName }}</strong></td>
            <td><strong>{{ map[player.zone] }}</strong></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <br>
  <!-- I worked for free to build this software, please do not remove the credit! -->
  <p class="small">Designed by <a target="_blank" href="https://github.com/FrancescoBorzi/">ShinDarth</a> && <a target="_blank" href="https://github.com/Helias/">Helias</a></p>
</div>